<center><div class="enigma-welcome">
  Welcome to the Enigma Machine
</div></center>
<p>
<aside class='e-button'><%= link_to "Encrypt", encrypt_new_path%></aside>
  <p>
<aside class='d-button'><%= link_to "Decrypt", decrypt_path%></aside>
